<div class="col-md-2 sidebar bg-light ">
    <p class="">
        <a href="/admin/home">
            <i class="fas fa-home"></i>
            Home
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/admin/profile">
            <i class="fas fa-user"></i>
            Profile
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/admin/customers">
            <i class="fas fa-users"></i>
            Customers
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/admin/books">
            <i class="fas fa-book"></i>
            Books
        </a>
    </p>
</div>

<style>
   .sidebar {
        /* Add a transition effect to the sidebar */
        transition: all 0.3s ease;
      
    }

   .sidebar a {
        /* Add a transition effect to the sidebar links */
        transition: all 0.3s ease;
    }

   .sidebar a:hover {
        /* Add a background color to the sidebar links on hover */
        background-color: #e9ecef;
        font-size: large;

        /* Add a border radius to the sidebar links on hover */
        border-radius: 5px;

        /* Add a transform effect to the sidebar links on hover */
        transform: translateX(15px);
    }
   
</style>